 <h1>About Us</h1>
 <p> 
  MoMerry is a website for people looking to branch outside of their circles and meet new people. (Please note: It is not an online dating website.) MoMerry allows users to post their intended activities (coffee, studying, running, etc.) and allow up to 5 new people to join your event within the same city. MoMerry makes it easy for you to coordinate hangouts with new people in your city. 
 </p>
